<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Registration</title>
</head>
<body>
<h2>Student Registration</h2>

<form th:action="@{/register}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}" /><br><br>
    Email: <input type="email" th:field="*{email}" /><br><br>
    Course: <input type="text" th:field="*{course}" /><br><br>

    <button type="submit">Register</button>
</form>
<br>

<a href="/view"><button>View Students</button></a>
</body>
</html>
